<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Muli"/>
  </head>
  <body>
    <div class="cnt-wrapper">
      <header>
        <div class="cnt-general">
          <nav>
            <ul>
              <li><a href="">Nosotros</a></li>
              <li><a href="/templates/html/predicas.html">Predicas</a></li>
              <li><a href="">Eventos</a></li>
              <li class="cnt-logo"></li>
              <li><a href="/templates/html/contacto.html">Contacto</a></li>
              <li><a href="">Blog</a></li>
              <li><a href="">Suscribite</a></li>
            </ul>
          </nav><a href="/templates/html/index.html" class="logo"><img src="../../static/img/logo.png" alt="" height="100" width="120"/></a>
        </div>
      </header>
      <section class="cnt-mapa">
        <div id="googleMap"></div>
      </section>
      <section class="cnt-contacto">
        <div class="cnt-general">
          <h2 class="section-titulo">Contacto</h2>
          <div class="cnt-formulario">
            <form action="">
              <div class="cnt-input">
                <input type="text" placeholder="Nombre"/>
              </div>
              <div class="cnt-input">
                <input type="text" placeholder="Email"/>
              </div>
              <div class="cnt-input">
                <input type="text" placeholder="Telefono"/>
              </div>
              <div class="cnt-input">
                <textarea placeholer="Mensaje" name="" cols="30" rows="10"></textarea>
              </div>
            </form>
          </div>
        </div>
      </section>
      <footer>
        <div class="footer-top"></div>
        <div class="footer-bottom">
          <div class="cnt-general">
            <div class="texto-left">©2016-Todos los derechos reservados.</div>
            <div class="texto-right">Diseñado por test</div>
          </div>
        </div>
      </footer>
    </div>
    <script src="../../static/js/jquery-2.2.0.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
          var mapProp = {
          center:new google.maps.LatLng(51.508742,-0.120850),
          zoom:16,
          mapTypeId:google.maps.MapTypeId.ROADMAP,
          mapTypeControl   : true,
          //- disableDefaultUI : true,
          zoomControl      : false,
          scrollwheel      : false,
        };
        var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </body>
</html>