<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Muli"/>
  </head>
  <body>
    <div class="cnt-wrapper">
      <header>
        <div class="cnt-general">
          <div class="overlay"></div>
          <div class="cnt-suscribirse">
            <div class="cnt-general">
              <div class="cerrar-suscribirse icon-cancel-circle"></div>
              <h2>Suscribirse</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt repudiandae nihil consectetur voluptatem autem enim, ab aspernatur voluptate, vero cum tempora illo sunt dolores, natus atque possimus eius ullam pariatur!</p>
              <div class="cnt-formulario">
                <form action="">
                  <div class="cnt-input">
                    <input type="email" placeholder="Email"/>
                  </div>
                  <button>Enviar</button>
                </form>
              </div>
            </div>
          </div>
          <div class="redes">
            <ul>
              <li><a href="" class="icon-facebook faceboox"></a></li>
              <li><a href="" class="icon-twitter twitter"></a></li>
              <li><a href="" class="icon-youtube youtube"></a></li>
            </ul>
          </div>
          <nav>
            <ul>
              <li><a href="/templates/html/nosotros.html">Nosotros</a></li>
              <li><a href="/templates/html/predicas.html">Predicas</a></li>
              <li><a href="/templates/html/eventos.html">Eventos</a></li>
              <li class="cnt-logo"></li>
              <li><a href="/templates/html/contacto.html">Contacto</a></li>
              <li><a href="">Blog</a></li>
              <li><a href="#" id="suscribir">Suscribirse</a></li>
            </ul>
          </nav><a href="/templates/html/index.html" class="logo"><img src="../../static/img/logo.png" alt="" height="100" width="120"/></a>
        </div>
      </header>
      <section class="cnt-banner">
        <div class="banner">
          <div class="capa-overlay"></div>
          <div class="cnt-general">
            <div class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum aperiam iusto</div>
          </div>
          <div style="background-image:url('../../static/img/slide.png')" class="imagen"></div>
        </div>
      </section>
      <section class="cnt-eventos">
        <div class="cnt-general">
          <h2 class="section-titulo c-rojo">Eventos</h2>
          <div class="contenido">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.</div>
          <div class="eventos">
            <div class="item"><a href="" class="titulo">
                <h2>Evento 1</h2>
                <h3>12/12/12</h3></a>
              <div class="cnt-texto">
                <div class="enlace-texto">
                  <div class="texto">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.
                  </div><a href="">ver mas</a>
                </div>
                <figure><img src="../../static/img/slide.png" alt="" width="250"/></figure>
              </div>
            </div>
            <div class="item"><a href="" class="titulo">
                <h2>Evento 1</h2>
                <h3>12/12/12</h3></a>
              <div class="cnt-texto">
                <div class="enlace-texto">
                  <div class="texto">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.
                  </div><a>ver mas</a>
                </div>
                <figure><img src="../../static/img/mensaje.jpg" alt="" width="250"/></figure>
              </div>
            </div>
            <div class="item"><a href="" class="titulo">
                <h2>Evento 1</h2>
                <h3>12/12/12</h3></a>
              <div class="cnt-texto">
                <div class="enlace-texto">
                  <div class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.</div><a>ver mas</a>
                </div>
                <figure><img src="../../static/img/slide.png" alt="" width="250"/></figure>
              </div>
            </div>
            <div class="item"><a href="" class="titulo">
                <h2>Evento 1</h2>
                <h3>12/12/12</h3></a>
              <div class="cnt-texto">
                <div class="enlace-texto">
                  <div class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.</div><a>ver mas</a>
                </div>
                <figure><img src="../../static/img/slide.png" alt="" width="250"/></figure>
              </div>
            </div>
            <div class="item"><a href="" class="titulo">
                <h2>Evento 1</h2>
                <h3>12/12/12</h3></a>
              <div class="cnt-texto">
                <div class="enlace-texto">
                  <div class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.</div><a>ver mas</a>
                </div>
                <figure><img src="../../static/img/slide.png" alt="" width="250"/></figure>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="paginador">
        <div class="cnt-general">
          <ul>
            <li><a href="" class="icon-circle-left flecha-pag"></a></li>
            <li><a href="" class="pag active">1</a></li>
            <li><a href="" class="pag">2</a></li>
            <li><a href="" class="pag">3</a></li>
            <li><a href="" class="pag">4</a></li>
            <li><a href="" class="pag">5</a></li>
            <li><a href="" class="icon-circle-right flecha-pag"></a></li>
          </ul>
        </div>
      </section>
      <footer>
        <div class="footer-top"></div>
        <div class="footer-bottom">
          <div class="cnt-general">
            <div class="texto-left">©2016-Todos los derechos reservados.</div>
            <div class="texto-right">Diseñado por test</div>
          </div>
        </div>
      </footer>
    </div>
    <script src="../../static/js/jquery-2.2.0.min.js"></script>
    <script src="../../static/js/main.js"></script>
  </body>
</html>