
<header>
  <div class="cnt-general">
    <nav>
      <ul>
        <li><a href="">Nosotros</a></li>
        <li><a href="/templates/html/predicas.html">Predicas</a></li>
        <li><a href="">Eventos</a></li>
        <li class="cnt-logo"></li>
        <li><a href="/templates/html/contacto.html">Contacto</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Suscribite</a></li>
      </ul>
    </nav><a href="/templates/html/index.html" class="logo"><img src="../../static/img/logo.png" alt="" height="100" width="120"/></a>
  </div>
</header>