<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Muli"/>
    <link rel="stylesheet" href="../../static/css/jquery.bxslider.css"/>
  </head>
  <body>
    <div class="cnt-wrapper">
      <header>
        <div class="cnt-general">
          <div class="overlay"></div>
          <div class="cnt-suscribirse">
            <div class="cnt-general">
              <div class="cerrar-suscribirse icon-cancel-circle"></div>
              <h2>Suscribirse</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt repudiandae nihil consectetur voluptatem autem enim, ab aspernatur voluptate, vero cum tempora illo sunt dolores, natus atque possimus eius ullam pariatur!</p>
              <div class="cnt-formulario">
                <form action="">
                  <div class="cnt-input">
                    <input type="email" placeholder="Email"/>
                  </div>
                  <button>Enviar</button>
                </form>
              </div>
            </div>
          </div>
          <div class="redes">
            <ul>
              <li><a href="" class="icon-facebook faceboox"></a></li>
              <li><a href="" class="icon-twitter twitter"></a></li>
              <li><a href="" class="icon-youtube youtube"></a></li>
            </ul>
          </div>
          <nav>
            <ul>
              <li><a href="/templates/html/nosotros.html">Nosotros</a></li>
              <li><a href="/templates/html/predicas.html">Predicas</a></li>
              <li><a href="/templates/html/eventos.html">Eventos</a></li>
              <li class="cnt-logo"></li>
              <li><a href="/templates/html/contacto.html">Contacto</a></li>
              <li><a href="">Blog</a></li>
              <li><a href="#" id="suscribir">Suscribirse</a></li>
            </ul>
          </nav><a href="/templates/html/index.html" class="logo"><img src="../../static/img/logo.png" alt="" height="100" width="120"/></a>
        </div>
      </header>
      <section class="cnt-slider">
        <div class="sliders">
          <div class="slide">
            <div class="capa-overlay"></div>
            <div class="cnt-general">
              <div class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum aperiam iusto</div>
            </div>
            <div style="background-image:url('../../static/img/slide.png')" class="imagen"></div>
          </div>
          <div class="slide">
            <div class="cnt-general">
              <div class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum aperiam iusto</div>
            </div>
            <div class="capa-overlay"></div>
            <div style="background-image:url('../../static/img/slide.png')" class="imagen"></div>
          </div>
          <div class="slide">
            <div class="cnt-general">
              <div class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum aperiam iusto</div>
            </div>
            <div class="capa-overlay"></div>
            <div style="background-image:url('../../static/img/mensaje.jpg')" class="imagen"></div>
          </div>
        </div>
      </section>
      <section class="cnt-ultimas-predicas">
        <div class="cnt-general">
          <h2 class="section-titulo c-rojo">Ultimas Predicas</h2>
          <div class="ultimas-predicas">
            <div class="item">
              <div class="titulo-predica">
                <h3>Predica 1</h3>
              </div><a href="" class="cnt-img"><img src="../../static/img/slide.png" alt="" width="280" height="200"/></a>
              <div class="texto">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                </p>
                <div class="link"><a href="/templates/html/predica-detalle.html">ver mas</a><a href="" data-video="https://www.youtube.com/embed/aa6rozdTeMw?list=PLhVQdfaGnBq48wL8L1d7rZ5ofGVq5WsKG" class="ver-video">ver video</a></div>
              </div>
            </div>
            <div class="item">
              <div class="titulo-predica">
                <h3>Predica 1</h3>
              </div><a href="" class="cnt-img"><img src="../../static/img/mensaje.jpg" alt="" width="280" height="200"/></a>
              <div class="texto">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                </p>
                <div class="link"><a href="/templates/html/predica-detalle.html">ver mas</a><a href="" data-video="https://www.youtube.com/embed/ziuCSk7wbVQ" class="ver-video">ver video</a></div>
              </div>
            </div>
            <div class="item">
              <div class="titulo-predica">
                <h3>Predica 1</h3>
              </div><a href="" class="cnt-img"><img src="../../static/img/slide.png" alt="" width="280" height="200"/></a>
              <div class="texto">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                </p>
                <div class="link"><a href="/templates/html/predica-detalle.html">ver mas</a><a href="" data-video="https://www.youtube.com/embed/aa6rozdTeMw?list=PLhVQdfaGnBq48wL8L1d7rZ5ofGVq5WsKG" class="ver-video">ver video</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="cnt-nuestros-eventos">
        <div style="background-image:url('../../static/img/jovenes.jpg')" class="cnt-fondo-img">
          <div class="capa-overlay"></div>
          <div class="cnt-general">
            <h2 class="section-titulo">Nuestros Eventos</h2>
            <div class="cnt-texto">
              <div class="texto-left">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates mollitia sit molestiae sed earum voluptate recusandae autem expedita molestias nulla aliquam deserunt vero, quisquam id, dolorum facilis dolorem repellendus nihil?</p>
              </div>
              <div class="texto-right">
                <div class="evento"><a href="">Evento 1</a>
                  <div class="texto">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
                  </div>
                </div>
                <div class="evento"><a href="">Evento 1</a>
                  <div class="texto">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="cnt-mapa">
        <div class="cnt-general">
          <h2 class="section-titulo c-rojo">¿Cómo ubicarnos?</h2>
          <div class="cnt-texto-mapa">
            <div class="contactanos">
              <div class="cnt-datos">
                <div class="cnt-col">
                  <h4><span>Direccion:</span> Av Palmas Reales</h4>
                </div>
                <div class="cnt-col">
                  <h4><span>Servicios:</span> Domingos 9:00am y 12:00pm</h4>
                </div>
                <div class="cnt-col">
                  <h4><span>Telefono:</span> 94658458 - 548584</h4>
                </div>
                <div class="cnt-col">
                  <h4>
                    <span>Redes:</span>
                    <a href="" class="icon-facebook faceboox"></a>
                    <a href="" class="icon-twitter twitter"></a>
                    <a href="" class="icon-youtube youtube"></a>
                  </h4>
                </div>
              </div>
              <figure><img src="../../static/img/mensaje.jpg" alt=""/></figure>
            </div>
            <div id="mapa-google"></div>
          </div>
        </div>
        <section class="cnt-video-pop-up">
          <div class="cnt-general">
            <div class="cnt-iframe">
              <div class="cerrar-iframe icon-cancel-circle"></div>
              <iframe src="https://www.youtube.com/embed/aa6rozdTeMw?list=PLhVQdfaGnBq48wL8L1d7rZ5ofGVq5WsKG" frameborder="0" width="560" height="315"></iframe>
            </div>
          </div>
        </section>
      </section>
      <footer>
        <div class="footer-top"></div>
        <div class="footer-bottom">
          <div class="cnt-general">
            <div class="texto-left">©2016-Todos los derechos reservados.</div>
            <div class="texto-right">Diseñado por test</div>
          </div>
        </div>
      </footer>
    </div>
    <script src="../../static/js/jquery-2.2.0.min.js"></script>
    <script src="../../static/js/main.js"></script>
    <script src="../../static/js/jquery.bxslider.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          $('.sliders').bxSlider({
              auto:true,
              pause:'7000',
              minSlides: 1,
              maxSlides: 1,
              moveSlides: 1,
              slideMargin: 0,
              controls: false,
              pager : true
          });
          $(".ver-video").click(function(event) {
              event.preventDefault()
              var url_video = $(this).attr("data-video")
              $("iframe").attr("src", url_video)
              setTimeout(function(){
              $(".overlay").addClass('overlay-block')
              $("section.cnt-video-pop-up").addClass("cnt-video-pop-up-block")
              }, 500);
      
          });
          $(".cerrar-iframe").click(function(event) {
              $(".overlay").removeClass('overlay-block')
              $("section.cnt-video-pop-up").removeClass("cnt-video-pop-up-block")
          });
      });
    </script>
    <script>
      function initialize() {
          var mapProp = {
          center:new google.maps.LatLng(51.508742,-0.120850),
          zoom:16,
          mapTypeId:google.maps.MapTypeId.ROADMAP,
          mapTypeControl   : true,
          //- disableDefaultUI : true,
          zoomControl      : false,
          scrollwheel      : false,
        };
        var map=new google.maps.Map(document.getElementById("mapa-google"), mapProp);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </body>
</html>