<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Muli"/>
  </head>
  <body>
    <div class="cnt-wrapper">
      <header>
        <div class="cnt-general">
          <nav>
            <ul>
              <li><a href="">Nosotros</a></li>
              <li><a href="/templates/html/predicas.html">Predicas</a></li>
              <li><a href="">Eventos</a></li>
              <li class="cnt-logo"></li>
              <li><a href="/templates/html/contacto.html">Contacto</a></li>
              <li><a href="">Blog</a></li>
              <li><a href="">Suscribite</a></li>
            </ul>
          </nav><a href="/templates/html/index.html" class="logo"><img src="../../static/img/logo.png" alt="" height="100" width="120"/></a>
        </div>
      </header>
      <section class="cnt-banner">
        <div class="banner">
          <div class="capa-overlay"></div>
          <div class="cnt-general">
            <div class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum aperiam iusto</div>
          </div>
          <div style="background-image:url('../../static/img/slide.png')" class="imagen"></div>
        </div>
      </section>
      <section class="cnt-predicas cnt-ultimas-predicas">
        <div class="cnt-general c-rojo">
          <h2 class="section-titulo">Nuestras Predicas</h2>
          <div class="ultimas-predicas">
            <div class="item">
              <div class="titulo-predica">
                <h3>Predica 1</h3>
              </div><a href="/templates/html/predica-detalle.html" class="cnt-img"><img src="../../static/img/slide.png" alt="" width="280" height="200"/></a>
              <div class="texto">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                </p><a href="/templates/html/predica-detalle.html">ver mas</a>
              </div>
            </div>
            <div class="item">
              <div class="titulo-predica">
                <h3>Predica 1</h3>
              </div><a href="/templates/html/predica-detalle.html" class="cnt-img"><img src="../../static/img/mensaje.jpg" alt="" width="280" height="200"/></a>
              <div class="texto">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                </p><a href="/templates/html/predica-detalle.html">ver mas</a>
              </div>
            </div>
            <div class="item">
              <div class="titulo-predica">
                <h3>Predica 1</h3>
              </div><a href="/templates/html/predica-detalle.html" class="cnt-img"><img src="../../static/img/slide.png" alt="" width="280" height="200"/></a>
              <div class="texto">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                </p><a href="/templates/html/predica-detalle.html">ver mas</a>
              </div>
            </div>
            <div class="item">
              <div class="titulo-predica">
                <h3>Predica 1</h3>
              </div><a href="/templates/html/predica-detalle.html" class="cnt-img"><img src="../../static/img/slide.png" alt="" width="280" height="200"/></a>
              <div class="texto">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                </p><a href="/templates/html/predica-detalle.html">ver mas</a>
              </div>
            </div>
            <div class="item">
              <div class="titulo-predica">
                <h3>Predica 1</h3>
              </div><a href="" class="cnt-img"><img src="../../static/img/mensaje.jpg" alt="" width="280" height="200"/></a>
              <div class="texto">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                </p><a href="">ver mas</a>
              </div>
            </div>
            <div class="item">
              <div class="titulo-predica">
                <h3>Predica 1</h3>
              </div><a href="" class="cnt-img"><img src="../../static/img/slide.png" alt="" width="280" height="200"/></a>
              <div class="texto">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                </p><a href="">ver mas</a>
              </div>
            </div>
            <div class="item">
              <div class="titulo-predica">
                <h3>Predica 1</h3>
              </div><a href="" class="cnt-img"><img src="../../static/img/slide.png" alt="" width="280" height="200"/></a>
              <div class="texto">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                </p><a href="">ver mas</a>
              </div>
            </div>
            <div class="item">
              <div class="titulo-predica">
                <h3>Predica 1</h3>
              </div><a href="" class="cnt-img"><img src="../../static/img/mensaje.jpg" alt="" width="280" height="200"/></a>
              <div class="texto">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                </p><a href="">ver mas</a>
              </div>
            </div>
            <div class="item">
              <div class="titulo-predica">
                <h3>Predica 1</h3>
              </div><a href="" class="cnt-img"><img src="../../static/img/slide.png" alt="" width="280" height="200"/></a>
              <div class="texto">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                </p><a href="">ver mas</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="paginador">
        <div class="cnt-general">
          <ul>
            <li><a href="" class="icon-circle-left flecha-pag"></a></li>
            <li><a href="" class="pag active">1</a></li>
            <li><a href="" class="pag">2</a></li>
            <li><a href="" class="pag">3</a></li>
            <li><a href="" class="pag">4</a></li>
            <li><a href="" class="pag">5</a></li>
            <li><a href="" class="icon-circle-right flecha-pag"></a></li>
          </ul>
        </div>
      </section>
      <footer>
        <div class="footer-top"></div>
        <div class="footer-bottom">
          <div class="cnt-general">
            <div class="texto-left">©2016-Todos los derechos reservados.</div>
            <div class="texto-right">Diseñado por test</div>
          </div>
        </div>
      </footer>
    </div>
    <script src="../../static/js/jquery-2.2.0.min.js"></script>
  </body>
</html>