<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Muli"/>
  </head>
  <body>
    <div class="cnt-wrapper">
      <header>
        <div class="cnt-general">
          <div class="overlay"></div>
          <div class="cnt-suscribirse">
            <div class="cnt-general">
              <div class="cerrar-suscribirse icon-cancel-circle"></div>
              <h2>Suscribirse</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt repudiandae nihil consectetur voluptatem autem enim, ab aspernatur voluptate, vero cum tempora illo sunt dolores, natus atque possimus eius ullam pariatur!</p>
              <div class="cnt-formulario">
                <form action="">
                  <div class="cnt-input">
                    <input type="email" placeholder="Email"/>
                  </div>
                  <button>Enviar</button>
                </form>
              </div>
            </div>
          </div>
          <div class="redes">
            <ul>
              <li><a href="" class="icon-facebook faceboox"></a></li>
              <li><a href="" class="icon-twitter twitter"></a></li>
              <li><a href="" class="icon-youtube youtube"></a></li>
            </ul>
          </div>
          <nav>
            <ul>
              <li><a href="/templates/html/nosotros.html">Nosotros</a></li>
              <li><a href="/templates/html/predicas.html">Predicas</a></li>
              <li><a href="/templates/html/eventos.html">Eventos</a></li>
              <li class="cnt-logo"></li>
              <li><a href="/templates/html/contacto.html">Contacto</a></li>
              <li><a href="">Blog</a></li>
              <li><a href="#" id="suscribir">Suscribirse</a></li>
            </ul>
          </nav><a href="/templates/html/index.html" class="logo"><img src="../../static/img/logo.png" alt="" height="100" width="120"/></a>
        </div>
      </header>
      <div id="fb-root"></div>
      <section class="cnt-banner">
        <div class="banner">
          <div class="capa-overlay"></div>
          <div class="cnt-general">
            <div class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum aperiam iusto</div>
          </div>
          <div style="background-image:url('../../static/img/slide.png')" class="imagen"></div>
        </div>
      </section>
      <section class="cnt-predica">
        <div class="cnt-general">
          <h2 class="section-titulo c-rojo">Predica 1</h2>
          <div class="cnt-texto">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum exercitationem corrupti, deserunt dolorem ad alias sed pariatur deleniti. Nemo eum quam a placeat adipisci ex animi commodi omnis veritatis officiis?
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsa distinctio nulla reprehenderit, dignissimos accusantium corrupti porro dolore delectus, molestiae culpa iste. Dolore accusantium quod, inventore facere aperiam reiciendis eius.
            </p>
            <h2>Lorem ipsum dolor sit amet,</h2>
            <ul>
              <li>dignissimos accusantium corrupti porro dolore delectus, molestiae culpa iste. Dolore accusant</li>
              <li>dignissimos accusantium corrupti porro dolore delectus, molestiae culpa iste. Dolore accusant</li>
              <li>dignissimos accusantium corrupti porro dolore delectus, molestiae culpa iste. Dolore accusant</li>
            </ul>
          </div>
          <div class="cnt-video">
            <iframe src="https://www.youtube.com/embed/aa6rozdTeMw?list=PLhVQdfaGnBq48wL8L1d7rZ5ofGVq5WsKG" frameborder="0" width="560" height="315"></iframe>
          </div>
          <div class="cnt-audio">
            <audio src="daniel.mp3" controls  loop>
            <p>Tu navegador no implementa el elemento audio.</p>
            </audio>
          </div>
          <div class="cnt-facebook">
            <div data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" class="fb-like"></div>
          </div>
        </div>
      </section>
      <footer>
        <div class="footer-top"></div>
        <div class="footer-bottom">
          <div class="cnt-general">
            <div class="texto-left">©2016-Todos los derechos reservados.</div>
            <div class="texto-right">Diseñado por test</div>
          </div>
        </div>
      </footer>
    </div>
    <script src="../../static/js/jquery-2.2.0.min.js"></script>
    <script src="../../static/js/main.js"></script>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=579887472112702";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>