<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet", href="../../static/css/styles.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Muli")

        block css

    body
        .cnt-wrapper
            include ./header.jade
            block content
            include ./footer.jade
        script(src="../../static/js/jquery-2.2.0.min.js")
        script(src="../../static/js/main.js")
        block js

