extends ./base.jade
block content
    section.cnt-banner
        .banner
            .capa-overlay
            .cnt-general
                .texto.
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum aperiam iusto
            .imagen(style="background-image:url('../../static/img/slide.png')")
    section.cnt-eventos
        .cnt-general
            h2.section-titulo.c-rojo.
                Eventos
            .contenido.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.
            .eventos
                .item
                    a(href="").titulo
                        h2 Evento 1
                        h3 12/12/12
                    .cnt-texto
                        .enlace-texto
                            .texto.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.
                            a(href="").
                                ver mas
                        figure
                            img(src="../../static/img/slide.png", alt="" width="250")
                .item
                    a(href="").titulo
                        h2 Evento 1
                        h3 12/12/12
                    .cnt-texto
                        .enlace-texto
                            .texto.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.
                            a.
                                ver mas
                        figure
                            img(src="../../static/img/mensaje.jpg", alt="" width="250")
                .item
                    a(href="").titulo
                        h2 Evento 1
                        h3 12/12/12
                    .cnt-texto
                        .enlace-texto
                            .texto.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.
                            a.
                                ver mas
                        figure
                            img(src="../../static/img/slide.png", alt="" width="250")
                .item
                    a(href="").titulo
                        h2 Evento 1
                        h3 12/12/12
                    .cnt-texto
                        .enlace-texto
                            .texto.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.
                            a.
                                ver mas
                        figure
                            img(src="../../static/img/slide.png", alt="" width="250")
                .item
                    a(href="").titulo
                        h2 Evento 1
                        h3 12/12/12
                    .cnt-texto
                        .enlace-texto
                            .texto.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo beatae, odit accusamus magni nostrum obcaecati illum quod, dolorem sint perspiciatis nobis, ea amet necessitatibus, saepe! Aliquid aspernatur nobis saepe doloremque.
                            a.
                                ver mas
                        figure
                            img(src="../../static/img/slide.png", alt="" width="250")
    section.paginador
        .cnt-general
            ul
                li
                    a(href="").icon-circle-left.flecha-pag
                li
                    a(href="").pag.active 1
                li
                    a(href="").pag 2
                li
                    a(href="").pag 3
                li
                    a(href="").pag 4
                li
                    a(href="").pag 5
                li
                    a(href="").icon-circle-right.flecha-pag
