extends ./base.jade
block content
    section.cnt-banner
        .banner
            .capa-overlay
            .cnt-general
                .texto.
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum aperiam iusto
            .imagen(style="background-image:url('../../static/img/slide.png')")
