header
    .cnt-general
        nav
            ul
                li
                    a(href="") Nosotros
                li
                    a(href="/templates/html/predicas.html") Predicas
                li
                    a(href="") Eventos
                li.cnt-logo

                li
                    a(href="/templates/html/contacto.html") Contacto
                li
                    a(href="") Blog
                li
                    a(href="") Suscribite

        a(href="/templates/html/index.html").logo
            img(src="../../static/img/logo.png", alt="", height="100", width="120")
