extends ./base.jade
block  css
    link(rel="stylesheet", href="../../static/css/jquery.bxslider.css")
block content
    section.cnt-slider
        .sliders
            .slide
                .capa-overlay
                .cnt-general
                    .texto.
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum aperiam iusto
                .imagen(style="background-image:url('../../static/img/slide.png')")
            .slide
                .cnt-general
                    .texto.
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum aperiam iusto
                .capa-overlay
                .imagen(style="background-image:url('../../static/img/slide.png')")
            .slide
                .cnt-general
                    .texto.
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum aperiam iusto
                .capa-overlay
                .imagen(style="background-image:url('../../static/img/mensaje.jpg')")
    section.cnt-ultimas-predicas
        .cnt-general
            h2.section-titulo.c-rojo.
                Ultimas Predicas
            .ultimas-predicas
                .item
                    .titulo-predica
                        h3 Predica 1
                    a(href="").cnt-img
                        img(src="../../static/img/slide.png", alt="", width="280", height="200")
                    .texto
                        p.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                        .link
                            a(href="") ver mas
                            a(href="", data-video="https://www.youtube.com/embed/aa6rozdTeMw?list=PLhVQdfaGnBq48wL8L1d7rZ5ofGVq5WsKG").ver-video ver video
                .item
                    .titulo-predica
                        h3 Predica 1
                    a(href="").cnt-img
                        img(src="../../static/img/mensaje.jpg", alt="", width="280", height="200")
                    .texto
                        p.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                        .link
                            a(href="") ver mas
                            a(href="", data-video="https://www.youtube.com/embed/ziuCSk7wbVQ").ver-video ver video
                .item
                    .titulo-predica
                        h3 Predica 1
                    a(href="").cnt-img
                        img(src="../../static/img/slide.png", alt="", width="280", height="200")
                    .texto
                        p.
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                        .link
                            a(href="") ver mas
                            a(href="", data-video="https://www.youtube.com/embed/aa6rozdTeMw?list=PLhVQdfaGnBq48wL8L1d7rZ5ofGVq5WsKG").ver-video ver video
    section.cnt-nuestros-eventos
        .cnt-fondo-img(style="background-image:url('../../static/img/jovenes.jpg')")
            .capa-overlay
            .cnt-general
                h2.section-titulo.
                    Nuestros Eventos
                .cnt-texto
                    .texto-left
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates mollitia sit molestiae sed earum voluptate recusandae autem expedita molestias nulla aliquam deserunt vero, quisquam id, dolorum facilis dolorem repellendus nihil?
                    .texto-right
                        .evento
                            a(href="").
                                Evento 1
                            .texto.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
                        .evento
                            a(href="").
                                Evento 1
                            .texto.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
    section.cnt-mapa
        .cnt-general
            h2.section-titulo.c-rojo.
                ¿Cómo ubicarnos?
            .cnt-texto-mapa
                .contactanos
                    .cnt-datos
                        .cnt-col
                            h4.
                                <span>Direccion:</span> Av Palmas Reales
                        .cnt-col
                            h4.
                                <span>Servicios:</span> Domingos 9:00am y 12:00pm
                        .cnt-col
                            h4.
                                <span>Telefono:</span> 94658458 - 548584
                        .cnt-col
                            h4.
                                <span>Redes:</span>
                                <a href="" class="icon-facebook faceboox"></a>
                                <a href="" class="icon-twitter twitter"></a>
                                <a href="" class="icon-youtube youtube"></a>
                    figure
                        img(src="../../static/img/mensaje.jpg", alt="")

                #mapa-google
        section.cnt-video-pop-up
            .cnt-general
                .cnt-iframe
                    .cerrar-iframe.icon-cancel-circle
                    iframe(src="https://www.youtube.com/embed/aa6rozdTeMw?list=PLhVQdfaGnBq48wL8L1d7rZ5ofGVq5WsKG", frameborder="0", width="560" height="315")
block js
    script(src="../../static/js/jquery.bxslider.min.js")
    script(src="http://maps.googleapis.com/maps/api/js")
    script(type='text/javascript').
        $(document).ready(function(){
            $('.sliders').bxSlider({
                auto:true,
                pause:'7000',
                minSlides: 1,
                maxSlides: 1,
                moveSlides: 1,
                slideMargin: 0,
                controls: false,
                pager : true
            });
            $(".ver-video").click(function(event) {
                event.preventDefault()
                var url_video = $(this).attr("data-video")
                $("iframe").attr("src", url_video)
                $(".overlay").addClass('overlay-block')
                $("section.cnt-video-pop-up").addClass("cnt-video-pop-up-block")

            });
        });
    script.
        function initialize() {
            var mapProp = {
            center:new google.maps.LatLng(51.508742,-0.120850),
            zoom:16,
            mapTypeId:google.maps.MapTypeId.ROADMAP,
            mapTypeControl   : true,
            //- disableDefaultUI : true,
            zoomControl      : false,
            scrollwheel      : false,
          };
          var map=new google.maps.Map(document.getElementById("mapa-google"), mapProp);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
