extends ./base.jade
block content
    section.cnt-banner
        .banner
            .capa-overlay
            .cnt-general
                .texto.
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum aperiam iusto
            .imagen(style="background-image:url('../../static/img/slide.png')")
    section.cnt-nosotros
        .cnt-general
            .texto
                h1.
                    Mision
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus temporibus repellat id deserunt soluta eligendi optio possimus exercitationem quibusdam amet autem iste corporis natus voluptatum expedita vitae voluptate, excepturi error.
                h2.
                    Vision

                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus temporibus repellat id deserunt soluta eligendi optio possimus exercitationem quibusdam amet autem iste corporis natus voluptatum expedita vitae voluptate, excepturi error.
                p.

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae debitis animi veniam, delectus quod rerum culpa eum perferendis dolorem dolor provident cumque beatae. Assumenda dolores nam veniam, numquam. Quia, repellendus.
                h3.
                    test

                ul
                    li.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, iure, nulla! Quibusdam ut vel nihil, laudantium cupiditate
                    li.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, iure, nulla! Quibusdam ut vel nihil, laudantium cupiditate nesciunt natus
                    li.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, iure, nulla! Quibusdam ut vel nihil, laudantium cupiditate nesciunt natus
