extends ./base.jade
block content
    section.cnt-banner
        .banner
            .capa-overlay
            .cnt-general
                .texto.
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum aperiam iusto
            .imagen(style="background-image:url('../../static/img/slide.png')")
    section.cnt-predicas.cnt-ultimas-predicas
        .cnt-general.c-rojo
                h2.section-titulo.
                    Nuestras Predicas
                .ultimas-predicas
                    .item
                        .titulo-predica
                            h3 Predica 1
                        a(href="/templates/html/predica-detalle.html").cnt-img
                            img(src="../../static/img/slide.png", alt="", width="280", height="200")
                        .texto
                            p.
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                            a(href="/templates/html/predica-detalle.html") ver mas
                    .item
                        .titulo-predica
                            h3 Predica 1
                        a(href="/templates/html/predica-detalle.html").cnt-img
                            img(src="../../static/img/mensaje.jpg", alt="", width="280", height="200")
                        .texto
                            p.
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                            a(href="/templates/html/predica-detalle.html") ver mas
                    .item
                        .titulo-predica
                            h3 Predica 1
                        a(href="/templates/html/predica-detalle.html").cnt-img
                            img(src="../../static/img/slide.png", alt="", width="280", height="200")
                        .texto
                            p.
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                            a(href="/templates/html/predica-detalle.html") ver mas
                    .item
                        .titulo-predica
                            h3 Predica 1
                        a(href="/templates/html/predica-detalle.html").cnt-img
                            img(src="../../static/img/slide.png", alt="", width="280", height="200")
                        .texto
                            p.
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                            a(href="/templates/html/predica-detalle.html") ver mas
                    .item
                        .titulo-predica
                            h3 Predica 1
                        a(href="").cnt-img
                            img(src="../../static/img/mensaje.jpg", alt="", width="280", height="200")
                        .texto
                            p.
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                            a(href="") ver mas
                    .item
                        .titulo-predica
                            h3 Predica 1
                        a(href="").cnt-img
                            img(src="../../static/img/slide.png", alt="", width="280", height="200")
                        .texto
                            p.
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                            a(href="") ver mas

                    .item
                        .titulo-predica
                            h3 Predica 1
                        a(href="").cnt-img
                            img(src="../../static/img/slide.png", alt="", width="280", height="200")
                        .texto
                            p.
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                            a(href="") ver mas
                    .item
                        .titulo-predica
                            h3 Predica 1
                        a(href="").cnt-img
                            img(src="../../static/img/mensaje.jpg", alt="", width="280", height="200")
                        .texto
                            p.
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                            a(href="") ver mas
                    .item
                        .titulo-predica
                            h3 Predica 1
                        a(href="").cnt-img
                            img(src="../../static/img/slide.png", alt="", width="280", height="200")
                        .texto
                            p.
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibu
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit temporibus perspiciatis
                            a(href="") ver mas

    section.paginador
        .cnt-general
            ul
                li
                    a(href="").icon-circle-left.flecha-pag
                li
                    a(href="").pag.active 1
                li
                    a(href="").pag 2
                li
                    a(href="").pag 3
                li
                    a(href="").pag 4
                li
                    a(href="").pag 5
                li
                    a(href="").icon-circle-right.flecha-pag
