extends ./base.jade
block content
    #fb-root

    section.cnt-banner
        .banner
            .capa-overlay
            .cnt-general
                .texto.
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia laborum aperiam iusto
            .imagen(style="background-image:url('../../static/img/slide.png')")
    section.cnt-predica
        .cnt-general
            h2.section-titulo.c-rojo.
                Predica 1
            .cnt-texto
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum exercitationem corrupti, deserunt dolorem ad alias sed pariatur deleniti. Nemo eum quam a placeat adipisci ex animi commodi omnis veritatis officiis?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsa distinctio nulla reprehenderit, dignissimos accusantium corrupti porro dolore delectus, molestiae culpa iste. Dolore accusantium quod, inventore facere aperiam reiciendis eius.
                h2.
                     Lorem ipsum dolor sit amet,
                ul
                    li dignissimos accusantium corrupti porro dolore delectus, molestiae culpa iste. Dolore accusant
                    li dignissimos accusantium corrupti porro dolore delectus, molestiae culpa iste. Dolore accusant
                    li dignissimos accusantium corrupti porro dolore delectus, molestiae culpa iste. Dolore accusant
            .cnt-video
                iframe(src="https://www.youtube.com/embed/aa6rozdTeMw?list=PLhVQdfaGnBq48wL8L1d7rZ5ofGVq5WsKG", frameborder="0", width="560" height="315")
            .cnt-audio
                <audio src="daniel.mp3" controls  loop>
                <p>Tu navegador no implementa el elemento audio.</p>
                </audio>
            .cnt-facebook
                .fb-like(data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true")

block js
    script.
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=579887472112702";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
